.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .button-pair {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px; /* Adjust the spacing between button pairs */
  }
  
  .nav-button {
    background-color: rgb(17 166 131);
    color: white;
    padding: 15px 30px;
    align-items: center;
    justify-content: center;
    margin: 10px;
    text-decoration: none;
    font-size: 24px;
    height: 100px;
    width: 500px;
    margin-top: 30px;
  }
  .nav-button:focus,
  .nav-button:hover {
  background: rgb(42, 201, 164);
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  }
  