/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
} */
/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e3e6f3;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(223, 253, 244);
}

.navbar {
  background-color: #e3e6f3;
  padding: 10px;
  width: 1550px;
  text-align: center;
  margin-left: 20px; /* Adjust the left margin as needed */
  margin-right: 20px; /* Adjust the right margin as needed */
  animation: fadeIn 1s ease;
}

.navbar-title {
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease, font-size 0.3s ease, font-weight 0.3s ease;
}

.eye-icon {
  font-size: 35px; 
  margin-right: 8px;
}

.navbar-title:hover {
  color: #088178; 
  font-size: 32px; 
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav-button {
  background-color: rgb(17 166 131);
  color: white;
  padding: 15px 30px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  text-decoration: none;
  font-size: 24px;
  height: 100px;
  width: 500px;
  margin-top: 30px;
  border-radius: 30px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  animation: fadeIn 1s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav-button:focus,
.nav-button:hover {
background: rgb(42, 201, 164);
box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
transform: scale(1.05);
}

.component-container {
  margin-top: 30px;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
